.navbar {
  background-color: #fbf7e3;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  padding: 2.5em;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.navbar li {
  margin-right: 1.5em;
  border: none;
  border-radius: 15px;
  padding: 7px 5px;
  background-color: #f3df85;
  color: #612406;
  font-weight: 500;
}

#item {
  display: flex;
  justify-content: center;
}

.logo {
  width: 25px;
}
